body {
    font-family: "Segoe UI", sans-serif;
}

.shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important;
}

.nav-pills .nav-link.active {
    background-color: #0d6efd;
}

/*password-wrapped*/

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 40px; /* eye ke liye space */
}

.toggle-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555;
}


/* ===== Auth Footer ===== */
.auth-footer {
    font-size: 13px;
    line-height: 1.5;
}

/* Links styling */
.footer-link {
    color: #0d6efd;
    text-decoration: none;
    font-weight: 500;
}

.footer-link:hover {
    text-decoration: underline;

}
